<div class="create-post">
    <h3>You are creating a new post</h3>
    <div class="post-title">
      <mat-form-field class="form" appearance="outline">
        <mat-label>Post Title</mat-label>
        <input matInput type="text" [(ngModel)]="post.title" placeholder="Post Title" />
        
        <mat-hint>Enter Post Title</mat-hint>
      </mat-form-field>
    </div>
    <div class="post-body">
      <mat-form-field class="form" appearance="outline">
        <mat-label>Post Body</mat-label>
        <textarea
          matInput type="text" [(ngModel)]="post.message"
          placeholder="Ex. What is the post about?"
          rows="15"
          cols="300"
        ></textarea>
        <mat-hint>Enter Post Body</mat-hint>
      </mat-form-field>
    </div>
    <div class="category-list">
      <mat-form-field appearance="fill">
        <mat-label>Select</mat-label>
        <mat-select [(ngModel)]="value">
          <mat-option *ngFor = "let genera of generas" [value]="genera.genera">{{genera.genera}}</mat-option>
          
        </mat-select>
      </mat-form-field>
    </div>
    <div class="submit-but">
      <button mat-raised-button color="primary" (click)="onSubmit()">
        Submit
      </button>
    </div>
  </div>
 
